.reservaContenedor{

    height: 60vh;
    
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15%;
}

.reservaContenedor1{

    position: relative;
    right: 0px;
    width: 95vw;

}

.LlenarForm{

    margin-top: 6%;
    width: 40%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    
}


.cajaTexto{

  
    height: 80%;
  


}



.text{

    
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    height: 100%;

    h2{

        color: cyan;
        text-transform: uppercase;
    }


    p{

        display: block;
        margin: 0;
        text-align: justify;
        box-sizing: border-box;
        padding: 5px 20px;
        color: white;

    }
}

#text1{

    display: block;
    left:0;
}
#text2{

    display: none;
}
#text3{

    display: none;
}

.contenedorBotones{

    margin: auto;
    margin-top: 3%;
    width:  50%;
    display: flex;
    justify-content: space-around;

    button{

        display: block;
        border-radius: 10px;
        padding: 10px;
        width: 5px;
        height: 3px;

    }

    button:first-child{

        background-color: white;
    }
    

}





.Formulario{

    margin-top: 6% ;
    display: block;
    box-sizing: border-box;
    width: 40%;
    height: 100%;
    text-align: center;
   

    h2{

        color:cyan;
        font-size: 40px;
    }
    
}

.label{

    display: block;
    text-align: left;
}

.nombre_apellido{

    display: flex;
    justify-content: space-around;
    width: 100%;

}

.contenedor_duo{

    width: 45%;
}

.input{

    border-radius: 10px;
    display: block;
    margin: auto;
    width: 100%;
    height: 50px;
    background-color: white;
    color:black

}

.contenedor_solo{


    width: 95%;
    margin: auto;

}


.input2{

    width: 98.4%;
    height: 90px


}


.boton_form{

    margin: auto;
    margin-top: 15px;
    display: block;
    width: 100%;
    height: 35px;
    background-color: cyan;
    width: 95%;
    font-size: 15px;
    border-radius: 15px;


}

.reservaContenedor2{

    position: relative;
    display: none;
    left: 100vw;
    width: 95vw;
    margin: auto;
    align-items: center;

}

.contenedorSeleccionReserva{

    color:antiquewhite;
    width: 35%;
    height: 80%;
    display: block;
    text-align: center;
    h2{
        text-transform: uppercase;
        color:cyan;

    }
}

.contenedorSaludo{


    border-right: 1px solid aliceblue;
    height: 80%;
    box-sizing: border-box;
    padding-left: 7.5%;
    padding-top: 4%;
    color:aliceblue;
    width: 35%;
    display: block;

    p{
        margin-bottom: 2%;
    }
    h2,h3{

        color: cyan;
    }
}



.contenedorSeleccionFechaReserva{
    
    box-sizing: border-box;
    padding: 1%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;

}

.fecha{

    display: block;
    color: beige;
    height: 30px;
    border: 1px solid white;
    border-radius: 10px;
    text-transform:capitalize;
    text-align: center;
    background-color: transparent;
}

.fecha:hover{

    background-color: cyan;
}

.contenedorSeleccionHoraReserva{

    box-sizing: border-box;
    padding: 1%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;

}

.contenedorFecha{

    display: none;
    opacity: 0;
    h2{
        color:cyan;
    }
}   